<ion-header >
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>Sign up As</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div class="display-flex justify-center display-column display-full">
      <ion-button routerLink='/register-user' expand='block' color="primary">Normal User</ion-button>
      <ion-button routerLink='/register-farmer' expand='block' color="primary">Farmer</ion-button>
    </div>
  </ion-content>