<ion-tabs color='primary'>
  <ion-tab label="Device" icon="home" href="/user/tabs/(device:device)" *ngIf='auth.isFarmer$|async'>
    <ion-router-outlet name="device"></ion-router-outlet>
  </ion-tab>
  <!-- <ion-tab label="Add Product" icon="add" href="/user/tabs/(product-form:product-form)" *ngIf='auth.isFarmer$|async'>
    <ion-router-outlet name="product-form"></ion-router-outlet>
  </ion-tab> -->
  <ion-tab label="Products" icon="apps" href="/user/tabs/(products:products)">
    <ion-router-outlet name="products"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Settings" icon="settings" href="/user/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
  <!-- <ion-tab label="About" icon="information-circle" href="/user/tabs/(about:about)" >
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab> -->
</ion-tabs>
