<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>IOT Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-list lines="inset">
    <ion-item>
      <ion-label>
        <ion-text color="primary">
          <h2>SYNC YOUR DEVICE</h2>
        </ion-text>
        <p>Add your device ip in this field</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-input placeholder="192.168.0.1" #input></ion-input>
      <ion-fab-button (click)='onSync(input.value)'>
        <ion-icon name="flash"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>

  <ion-card *ngIf='deviceData'>
    <ion-card-header>
      <h1 [hidden]='!(deviceData.lightIntensity<10)'>
          Switch on the Light .
      </h1>
      <h1 [hidden]='!(deviceData.soilMoisture<20)'>
          Switch on the Pump .
      </h1>
      <h3 [hidden]='deviceData.intelligentMode'>
        Enable Intelligent mode if you want the device to adjust itself without your help .
      </h3>
    </ion-card-header>
    <ion-card-content>
      <h1>LIGHT INTENSITY :{{deviceData.lightIntensity}} %</h1>
      <h1>SOIL MOISTURE : {{deviceData.soilMoisture}} %</h1>
    </ion-card-content>
  </ion-card>

  <div class="action-btns" *ngIf='deviceData'>
    <ion-button [color]="deviceData.pump==1?'success':'danger'" (click)='updatePumpStatus(input.value)'>
      Pump is {{deviceData.pump==1?'ON':'OFF'}}
    </ion-button>
    <ion-button [color]="deviceData.lamp==1?'success':'danger'" (click)='updateLampStatus(input.value)'>
      Lamp is {{deviceData.lamp==1?'ON':'OFF'}}
    </ion-button>
  </div>
</ion-content>
<ion-footer *ngIf='deviceData'>
  <ion-button expand="full" (click)='updateMode(input.value)' [color]="deviceData?.intelligentMode?'success':'danger'">
    INTELLIGENT MODE IS {{deviceData.intelligentMode?' ON ':' OFF '}}
  </ion-button>
</ion-footer>