<ion-header>
    <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Device Info</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sachin MS</ion-card-title>
        <ion-card-subtitle>Fill Status : Half</ion-card-subtitle>
        <ion-card-subtitle>Odor Status : Sweet</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <div *ngIf="loading">Loading...</div>
          <google-maps [hidden]='loading' (onError)='onMapError($event)' (onSuccess)='onMapSuccess($event)'></google-maps>
      </ion-card-content>
    </ion-card>
  </ion-content>